<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
    
        <li class="active treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Profile Details</span>
            </a>
        </li>
        
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>My Profile</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/customers"><i class="fa fa-circle-o"></i> Customers</a></li>
            </ul>
        </li>
  
          <li class="treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Job Applications</span>
            </a>
        </li>      
        
        <li class="treeview">
            <a href="/logout">
                <i class="fa fa-dashboard"></i> <span>Logout</span>
            </a>
        </li>
  
        
        
    </ul>
</section>
<!-- /.sidebar -->